.container{
    width: 100%;
    padding: 10px 5%;
    background: white;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
   width: 82px;
   height: 15px;
   margin-right: 40px;
}

nav ul{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.iconGroup{
    display: flex;
    align-items: center;
}

.languageSwitcher{
    display: flex;
    align-items: center;

}

.languageSwitcher button:hover {
    background-color: #f0f0f0; 
}


.languageSwitcher button {
    font-weight: normal; 
    border: 1px solid white;
    padding: 5px 5px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 16px;

}

.languageSwitcher button.active {
    font-weight: bold;
    background-color: #e0e0e0; 
    color: #333;           
}


.cartButton{
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 6px 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.cartButton:hover {
    background-color: #f0f0f0;
}



@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        padding: 15px 20px;
    }

    .logo {
        flex-basis: auto; 
    }
    

    nav ul {
        order: 3; 
        flex-basis: 100%; /* Chiếm toàn bộ chiều rộng */
        justify-content: flex-start; /* Căn menu sang trái */
        margin-top: 10px;
    }
    
    /* Đẩy Icons/Ngôn ngữ sang phải ở dòng đầu tiên */
    .iconGroup {
        order: 2; /* Đảm bảo Icons nằm sau Logo */
    }
}